body
{
    margin: none;
    padding: none;
}

.button-container {
    margin:1rem 0rem;
    display:flex;
    justify-content: center;
    align-self: center;
}

#header {
    padding:.5rem 0rem;
    font-size: 1.25rem;
    margin-top:1rem;
    text-align: center;
    color: rgb(53, 53, 53);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container div {
    color: rgb(53, 53, 53);
    font-size: 1.25rem;
    border-radius: 5px ;
    padding: 1rem;
    height: 20vh;
    background: rgba(224, 161, 161, 0.411);
    margin: 2rem 1rem;
    width: 40%;
}

@media screen and (max-width: 1000px) {
    .container div {
       width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .container div {
       width: 90%;
       height: 30vh;
    }
}

@media screen and (max-width: 400px) {
    .container div {
       width: 90%;
       height: 35vh;
    }
}


.button {

}

.button:hover {
    transform: scale(1.10);
}
