body
{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

.button-container {
    margin:1rem 0rem;
    display:flex;
    justify-content: center;
    align-self: center;
}

#header {
    padding:.5rem 0rem;
    font-size: 1.25rem;
    margin-top:1rem;
    text-align: center;
    color: rgb(53, 53, 53);
}

.text {
    font-size: 5rem;
}

@media screen and (max-width:768px) {
    .text {
        font-size: 2.75rem;
    }
}

.tester {
    display:flex;
    justify-content: center;
    margin:3rem 0rem;
}

.container {




}

.row {


}



.row div {
    border-radius: 5px;
    margin: 10px 10px;
    padding-top: 20px;
    background: rgba(201, 123, 123, 0.473);
}

@media screen and (max-width:768px) {
    .row div {
        border-radius: 5px;
        margin: 10px 0px;
        padding-top: 20px;
        background: rgba(201, 123, 123, 0.473);
    }
}

.container img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}



.button {

}

.button a:hover {
    color: rgb(221, 203, 203);
    text-decoration: none;
    outline: none;
}



.button:hover {
    transform: scale(1.10);

}



.test {
    display:flex;
    justify-content: center;
    margin: 2rem 0rem;

}

.test-row {
    height: ;
    display:flex;
    justify-content: center;
    width: 70%;


}

.test-row div {
    margin:10px;
    padding:15px;
    background: rgba(201, 123, 123, 0.473);
    border-radius: 5px;
}



.test img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.container {
    display:flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.container-row {
    display:flex;
    justify-content: center;
    width: 70%;
}

.container-row div {
    margin:10px;
    padding:15px;
    background: rgba(201, 123, 123, 0.473);
    border-radius: 5px;
}

.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}



/* menu container */

.menu-container {
    margin: 3rem 0rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu-row {
    display:flex;
    width: 90%;

}

.col {
    flex-grow: 1;
    margin: 0px 10px;
    padding:15px;
    background: rgba(201, 123, 123, 0.473);
    border-radius: 5px;

}


.menu-row img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 968px) {
    .menu-row {
        display:block;
    }

    .menu-row img {
        height: 60vh;
    }

    .col {
        margin: 15px 0px;
        padding:15px;
        background: rgba(201, 123, 123, 0.473);
        border-radius: 5px;

    }
}

@media screen and (max-width: 578px) {
    .menu-row {
        width: 100%;
    }
}
