body
{
    margin: none;
    padding: none;
}

.button-container {
    margin:1rem 0rem;
    display:flex;
    justify-content: center;
    align-self: center;
}

#header {
    padding:.5rem 0rem;
    font-size: 1.25rem;
    margin-top:1rem;
    text-align: center;
    color: rgb(53, 53, 53);
}

.text {
    font-size: 5rem;
}

/* */



.container  {

}

.row div {
    border-radius: 5px;
    margin: 10px 10px;
    padding-top: 20px;
    background: rgba(201, 123, 123, 0.473);
}

.container img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* */


.button {

}

.button a:hover {
    color: rgb(221, 203, 203);
    text-decoration: none;
    outline: none;
}



.button:hover {
    transform: scale(1.10);

}


/* test */
.test {
    display:flex;
    justify-content: center;
    margin: 2rem 0rem;

}

.test-row {
    height: ;
    display:flex;
    justify-content: center;
    width: 70%;


}

.test-row div {
    margin:10px;
    padding:15px;
    background: rgba(201, 123, 123, 0.473);
    border-radius: 5px;
}



.test img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
