@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,200&display=swap');



body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("images/dots.jpg");
  background-size: 200px 200px;

}

.intro {
  z-index: 2;
  background:rgb(116, 41, 53);
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

}

.intro-text {
  color:rgb(192, 189, 184);
  font-size: 3rem;
}

@media screen and (max-width: 1200px) {
  .intro-text {
    color:rgb(192, 189, 184);
    font-size: 1.25rem;
  }
}

.slider {
  z-index: 2;
  background:rgb(192, 189, 184);
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

}

.hide {
  background: rgb(116, 41, 53);
  overflow: hidden;
}

.hide span {
  transform: translatey(100%);
  display: inline-block;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(116, 41, 53);
}

.logo-container {
  width: 400px;
  height: auto;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:60px;
  background-size: cover;
}

.logo-container img {
  width: 100%;
  background-size: cover;
}

/*Hamburger*/
nav {
  z-index: 1;
  height: 60px;
  background: rgb(116, 41, 53);
  position: fixed;
  top:0;
  width: 100%;

}

.nav-links {

  display: flex;
  list-style: none;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  margin-top:20px;
  margin-left:auto;

}

.nav-links li a {
  color: rgb(221, 203, 203);
  text-decoration: none;
  font-size: 16px;
  padding:0px 10px 5px 10px;
  border-bottom: 3px solid transparent;

}

.nav-links li a:hover {
  border-bottom: solid rgb(221, 203, 203) 3px;
  color: pink;
  transition: 1s;
}



@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background:  rgb(197, 194, 194);
    margin: 5px;
  }
  nav {
    position: fixed;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    align-items: center;
    background: rgb(116, 41, 53);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -15%);
    -webkit-clip-path: circle(100px at 90% -15%);
    transition: all 1s ease-out;
    pointer-events: none;

  }
  .nav-links.open {
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {

    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    opacity: 1;
  }
}
/*Hamburger*/



#mobile-header {
  margin-top: 0px;

  padding-bottom: 7px;
  font-size: 20px;
  position: absolute;
  text-align: center;
  color:  rgb(221, 203, 203);
  width: 100%;
  color: rgb(116, 41, 53);
  background: rgb(199, 195, 195);
}

#mobile-header h2 {
  background: ;
  padding-top: 5px;
}

#mobile-header button {
  margin-top: 5px;

}

@media only screen and (min-width: 1240px) {
  #mobile-header {
    display: none;
  }
}

#title {
  color: rgb(116, 41, 53);
  text-align: center;
  text-shadow: -3px 1px rgb(0, 0, 0);
  font-size: 5rem;
  font-weight: 900;
  font-family: "Allura", sans-serif;
  margin: 100px 0px 0px 0px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #title {
    font-size: 4rem;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 75px;
  }
}

/* Top-container*/
.top-container {
  display: flex;
  margin-top: px;
  justify-content: flex-end;
  background-image: url("images/cake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 20%;
  height: 100vh;

}

.top-container div {
  align-self: flex-start;
  margin: 5%;
  color: rgb(116, 41, 53);
  font-size: 1rem;
}

.button {

  border-radius: 5px;
  border: none;
  background:rgb(116, 41, 53) ;
  color: rgb(221, 203, 203);
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  color: rgb(221, 203, 203) ;
}

.button a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover a {
  padding-right: 25px;
}

.button:hover a:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 1240px) {
.top-container div {
  display: none;
}
}

@media only screen and (max-width: 575px) {
  .top-container {
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
    background-image: url("images/cake-no-bottom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 15%;
    height: 100vh;
  }
}
/* Top-container end*/

.banner {
  display:flex;
  justify-content: center;
  align-items: center;
  background: rgb(116, 41, 53);
  height: 10vh;
  color: rgb(221, 203, 203);
  text-align: center;

}

.banner div {

}

.banner h1 {
  align-self: center;

}

@media only screen and (max-width: 1080px) {
  .banner {
    font-size: 12px;

  }
}




/*grid gallery */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 100%;
  margin:.5rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 5vw);
  grid-gap: .5rem;

}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display:block;
  transition: all 0.3s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.gallery-image img:hover {
  transform: scale(1.2);
  ;
}

.gallery-image:hover {
  height: px;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:6 ;
  grid-row-end: 10;

}
.gallery-item-5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 10;
}

.gallery-item-6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 10;
}

.gallery-item-7 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 15;
}
.gallery-item-8 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 15;
}
.gallery-item-9 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 15;
}

.gallery-item-10 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 10;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: ease-out 0.25s;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal p {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -3%);
}

.caption {
  margin-top: 500px;
}

.full-img {
  position: absolute;
  height: 80%;
  width: auto;
  top:-30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;

}

.full-img.open {
  transform: translate(-50%, 50%) scale(1);
}



@media (max-width: 1250px) {
  .container {
    width: 100%;
    margin:0;
  }
  .gallery {
    display:flex;
    flex-wrap: wrap;
    grid-gap: 0px;
    height: ;

  }

  .gallery figure{
    flex: 0 50%;
    height: 60vh;
    border: solid 2px rgb(241, 237, 237);
    box-sizing: border-box;
  }

  .gallery-item-1, .gallery-item-2, .gallery-item-3, .gallery-item-4, .gallery-item-5, .gallery-item-6,.gallery-item-7, .gallery-item-8, .gallery-item-9, .gallery-item-10 {
  width: 100%;
  }


 }

 @media (max-width: 576px) {
  .container {
    width: 100%;
    margin:0;
  }
  .gallery {
    display:block;
    margin: 10px 0px;
    margin-bottom: 0;
  }

  .gallery figure{
    flex: 0 50%;
    border: none;
    border-bottom: solid 2px rgb(241, 237, 237);
  }


 }

/*grid gallery end*/

.about-me {
  background: rgba(201, 123, 123, 0.473);
  color: rgb(68, 0, 0);
  display: flex;
  flex-direction: row-reverse;
  height: auto;
  margin-bottom: 8px;


}

.about-me-text {
display: flex;
justify-content: center;
align-items: center;


}

.about-me-text div {
  margin: 0 20%;
}



.img-container {
  height: auto;
}

.img-container img {
height: 100%;
width: 100%;
background-size: cover;
}

@media screen and (max-width: 1024px) {
  .about-me {
    background: rgba(201, 123, 123, 0.596);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    height: auto;
    margin: 0px 0px;
    padding: 15px 0px;
    width: ;

  }

  .img-container {
    height: auto;
    width: 40%;
  }

  .about-me-text div {
    margin: 1% 5%;
  }

}

/* footer */
.footer {
  background: rgb(116, 41, 53);
  color: rgb(209, 209, 209);
  display: flex;
  justify-content: space-around;
  text-align: center;

}

.contact-button {
  border-radius: 5px;
  border: none;
  color: rgb(116, 41, 53);
  font-size: 24px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 0px;
}

.contact-button a {
  text-decoration: none;
  color:  rgb(116, 41, 53);
}

.contact-button:hover {
  background: rgb(195, 7, 63);
  color: pink;
}

.contact-info {
  display: flex;
  margin: 5px 0px;
}
.contact-info h4,
h5 {
  margin: 5px 10px;
}

.social-icons {
  margin: 10px 0px;
}

.social-icons h2 {
  margin: 0px 0px 10px 0px;
}

.social-icons a {
  text-decoration: none;
  margin: 0px 3px 0px 3px;
}

.social-icons a img {
  height: 60px;
}

.copyright-info {
  display: flex;
  padding:3px 0px;
  justify-content: space-around;
  background: rgb(68, 12, 24);
  color: rgba(180, 180, 180, 0.664);
  font-size: 12px;

}

#author {
  color: rgb(195, 7, 63);
}

@media only screen and (max-width: 750px) {
  .footer {

    background: rgb(116, 41, 53);
    color: rgb(160, 157, 157);
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer div {
    align-self: center;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    margin: 1px 0px 10px 0px;
  }

  .copyright-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
  }
}

/* footer end*/
