@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,200&display=swap');


body {
  font-family: Roboto, sans-serif;
  margin: auto;
  background-image: url("images/dots.jpg");
  background-size: 200px 200px;
}

/* Navbar */
#nav {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgb(116, 41, 53);
}

#nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 25px;
}

#nav li a {
  margin: 20px;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border-bottom: solid transparent 3px;
}

#nav li a:hover {
  border-bottom: solid white 3px;
  color: pink;
  transition: 1s;
}

@media only screen and (max-width: 700px) {
  #nav {
    position: relative;
  }

  #nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #nav li {
    margin: 7px 0px 7px 0px;
    padding: 0;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border-bottom: solid transparent 3px;
  }
}
/* Navbar end*/

#mobile-header {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  position: absolute;
  text-align: center;
  color: rgb(116, 41, 53);
  width: 100%;
  background-color: rgba(207, 207, 207, 0.986);
}

@media only screen and (min-width: 1025px) {
  #mobile-header {
    display: none;
  }
}

#title {
  color: rgb(116, 41, 53);
  text-align: center;
  text-shadow: -3px 1px rgb(0, 0, 0);
  font-size: 5rem;
  font-weight: 900;
  font-family: "Allura", sans-serif;
  margin: 100px 0px 0px 0px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #title {
    font-size: 4rem;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 50px;
  }
}

/* Top-container*/
.top-container {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  background-image: url("images/cake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 10%;
  height: 100vh;
}

.top-container div {
  align-self: flex-start;
  margin: 150px 25px;
  color: rgb(116, 41, 53);
  font-size: 2em;
}

.button {
  border-radius: 5px;
  border: none;
  background: rgb(116, 41, 53);
  color: white;
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 1750px) {
  .top-container div {
    align-self: flex-start;
    margin: 150px 75px;
    color: rgb(116, 41, 53);
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1650px) {
  .top-container div {
    align-self: flex-start;
    margin: 150px 75px;
    color: rgb(116, 41, 53);
    font-size: 1em;
  }
}

@media only screen and (max-width: 1475px) {
  .top-container {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    background-image: url("images/cake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 10%;
    height: 90vh;
  }
  .top-container div {
    margin: 0px 50px;
    color: rgb(116, 41, 53);
    font-size: 1em;
  }
}

@media only screen and (max-width: 1025px) {
  .top-container {
    margin-top: 50px;
  }

  .top-container div {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .top-container {
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
    background-image: url("images/cake-no-bottom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 1%;
    height: 100vh;
  }
}
/* Top-container end*/

.banner {
  text-align: center;
  font-size: 1.5rem;
  background: rgb(116, 41, 53);
  color: rgb(209, 209, 209);
  position: absolute;
  width: 100%;
  font-weight: 400;
  text-shadow: -3px 1px rgb(0, 0, 0);
}

@media only screen and (max-width: 1080px) {
  .banner {
    font-size: 15px;
  }
}

/* bottom-container */
.bottom-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.bottom-container-1 {
  width: 500px;
  text-align: center;
  font-size: 1.5rem;
  margin: 0px;
  color: rgb(116, 41, 53);
}

/* Slideshow container */
.slide-show {
  margin-bottom: 15px;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(161, 161, 161);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #eb8787;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide-images {
  object-fit: cover;
  height: 50vh;
  width: 100%;
  border-radius: 5px;
}

@media only screen and (max-width: 1100px) {
  .bottom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .bottom-container-1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
    color: rgb(116, 41, 53);
  }

  .slide-images {
    object-fit: cover;
    height: 60vh;
    width: 100%;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .bottom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8rem;
  }
}

/* bottom-container end*/

/* footer */
.footer {
  background: rgb(116, 41, 53);
  color: rgb(209, 209, 209);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.contact-button {
  border-radius: 5px;
  border: none;
  color: rgb(116, 41, 53);
  font-size: 24px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 0px;
}

.contact-button:hover {
  background: rgb(195, 7, 63);
  color: pink;
}

.contact-info {
  display: flex;
  margin: 5px 0px;
}
.contact-info h4,
h5 {
  margin: 5px 10px;
}

.social-icons {
  margin: 10px 0px;
}

.social-icons h2 {
  margin: 0px 0px 10px 0px;
}

.social-icons a {
  text-decoration: none;
  margin: 0px 3px 0px 3px;
}

.social-icons a img {
  height: 60px;
}

.copyright-info {
  display: flex;
  justify-content: space-around;
  background: rgb(68, 12, 24);
  color: white;
  font-size: 12px;
}

#author {
  color: rgb(195, 7, 63);
}

@media only screen and (max-width: 750px) {
  .footer {
    background: rgb(116, 41, 53);
    color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer div {
    align-self: center;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    margin: 1px 0px 10px 0px;
  }

  .copyright-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
  }
}

/* footer end*/
